[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==0.27.2"
python-dotenv = "*"
streamlit = "==1.20.0"
pdftotext = "*"
streamlit-chat = "*"
pypdf2 = "*"
langchain = "*"
scikit-learn = "*"
scipy = "*"
tiktoken = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.11"
